---
import { loadEnv } from 'vite';
import BorderedTitle from "../components/BorderedTitle.astro";
import Layout from "../layouts/Layout.astro";
import { renderRichText } from '@storyblok/astro';

const env = loadEnv("", process.cwd(), 'STORYBLOK');

// // get from API
const baseUrl = env.STORYBLOK_API_BASE_URL

const apiToken = `token=${env.STORYBLOK_TOKEN}`
const responseVersion = 'version=published'
const pageUrl = `${baseUrl}/stories/about?${apiToken}&${responseVersion}`;

const response = await fetch(pageUrl);
const blok = await response.json();
const content_data = blok.story.content;
const { content } = content_data;
const htmlContent = renderRichText(content)

---

<Layout>
    
<section class="section-sm">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-12">
				<BorderedTitle title="Hello, I am Jose" />
				<img src="https://a-us.storyblok.com/f/1014356/1299x601/35b770cdbe/header-bg.jpg/m/650x0/smart" class="w-100 mb-4 rounded-lg" alt="author">
				<div class="content" set:html={htmlContent} >
					
			</div>
		</div>
	</div>
</section>
</Layout>