---
import Categories from "../components/Categories.astro";
import LastestPosts from "../components/LastestPosts.astro";
import PostResult from "../components/PostResultFull.astro";
import Tags from "../components/Tags.astro";
import Layout from "../layouts/Layout.astro";
import { BlogPost, PostService } from '../lib/post-service';

const postService = new PostService()
const posts = await postService.getPosts()
const categories = posts.length > 0 ? postService.getCategoryLinks(posts) : []
const tags = posts.length > 0 ? postService.getTagLinks(posts) : []
const latest = posts.length > 0 ? posts?.sort((a: any, b: any) => 
  b.date.valueOf() - a.date.valueOf()).slice(0, 3) : []
---

<Layout >
  

  <section class="section">
    <div class="container">
      <div class="columns is-desktop is-multiline">
        <div class="column is-8-desktop">
          <div id="search" class="ml-3 p-4 -mt-8">  </div>
          {posts && posts?.map((post: BlogPost) => (
            <PostResult 
              author={post.author}
              categories={post.categories}
              postDate={post.date}
              postSummary={post.summary}
              tags={post.tags}
              postUrl={post.url}
              postTitle={post.title}
              images={post.images}
            />
          ))}
        </div>

        <aside class="column is-4-desktop">
          <!-- <Search client:visible /> -->

          {categories && <Categories categories={categories} />}            

        {tags && <Tags tags={tags} />}

        {latest && <LastestPosts posts={latest} />}
    </aside>
      </div>      
    </div>
    
  </section>

</Layout>


<script>
  declare var PagefindUI: any;

	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ element: '#search', resetStyles: false});
	});

    window.addEventListener('keydown', (event) => {
        if (event.key === '/') {
            event.preventDefault();
            (document.querySelector('div#search input') as HTMLInputElement).focus();
        }
    });
</script>

<style is:global>
	.dark {
		--pagefind-ui-primary: #eeeeee;
		--pagefind-ui-text: #eeeeee;
		--pagefind-ui-background: #152028;
		--pagefind-ui-border: #152028;
		--pagefind-ui-tag: #152028;
	}
</style>